@media screen and (max-width:768px){
/* common  */
  body{
  cursor: initial;
  }
  a {
  cursor: initial;
  } 
/* ---------header-------- */
  header .wrap{

    max-width: initial;
  }
  header .wrap .menu ul.gnb li{

  height: 31px;
  line-height: 0.5;
  }
  header .wrap .menu ul.gnb li:hover{

  height: 50px;
  }
  header .wrap .menu ul.gnb li:nth-child(4){
  height: 37px;
  }
  header .wrap .menu ul.gnb li a{

  font-size: 20px;
  margin-top: 20px;
  }

  header .wrap .menu2{


  height: 60px;
  position: relative;
  }
  header .wrap .menu2 ul.gnb2{

  display: none;
  }
  header .wrap .topArea h1 a img{
    height: 40px;
  }
  header .wrap .topArea h1 a img.scroll{
    height: 25px;
    transform: translateY(-42px);
  }
  header .wrap .topArea ul.enb{

  display: none;
  }
  header .wrap a.allmenu{
    display: block;
    
    right: 20px;
    transform: translateY(-50%);
    bottom: 16px;
    width: 19px;
    position: absolute;
  }
  header .wrap a.allmenu.menu_scroll{
  transition: all 0.3s;
  bottom: 51px;
  z-index: 11;
  }
/* ---------title-------- */
  #title{


  height: 130vw;
  top: 25px;
    position: relative;
    
  }

  #title .title-cover iframe{
  top: -8px;
  left: -81%;
  width: 262%;
  }
/* ------------main------------- */
  main{

  }
  /* ----- banner----- */
  #banner{
  margin-top: -30px;
    width: 100%;
    
  height: 39vw;
  background-size: cover;
  }
  #banner .shopNow{
    width: 28vw;
    height: 28vw;
  }
  #banner .shopNow span.circle{
   width: 22vw;
    height: 22vw;
    transform: translate(10%,10%);
    border: 2px solid #000;
    
  }
  #banner .shopNow h2{
    font-size: 3.6vw;
    left: calc((28vw - 11vw) / 2);
    
  }

  #banner .shopNow span img{
    width: 6vw;
    position: absolute;
    left: calc((28vw - 6vw) / 2);
    bottom: 25%;
   
  }
  #banner .shopNow:hover span img{
   animation:initial;
  }

  #banner .wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-35%);
  }
  #banner .wrap h2{
    font-size: 7.2vw;
    height: fit-content;
  }
  #banner .wrap p{
    font-size: 4.2vw;
    padding-top: 1.5%;
  }
  /* -----slide ----- */
  #slide{
    font-size: 10px;
    height: 20px;
  }

  /* ----- best product ----- */
  #bestproduct{
    min-height: 400px;
  } 

  #bestproduct .wrap h2{
     font-size:30px;
      line-height:1.25;
      font-weight:600;
  }

  #bestproduct .wrap span img.dog{
      width:109px;
      height:183px;
  }
  #bestproduct .wrap span img.logo{
  height: 17px;
  width: 60px;
    padding-top: 50px;
  }
  /* ----- thenew_01 ----- */

  #thenew_01 .wrap{
  margin: 0 15px;
  }

  #thenew_01 .wrap ul li h3{
  font-size: 3.2vw;
  line-height: 1.1;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding-top: 50px;
  }
  #thenew_01 .wrap ul li h3::before{
    width: 24vw;
    height: 12vw;
    border: 2px solid #000;
    transform: translateX(-50%) translateY(4%);
    border-bottom: 4px solid #f0f7e3;
  }
  #thenew_01 .wrap ul li h3 span{
  font-size: 4vw;
  font-weight: 500;
  }
  #thenew_01 .wrap ul li h2{
  font-size: 25px;
  padding: 60px 0 30px;
  }
  #thenew_01 .wrap ul li p{
  font-size: 15px;
  letter-spacing: 0.5px;

  padding: initial;
  padding-bottom: 45px;
  }

  #thenew_01 .new .product{
  width: 70vw;
  height: 80vw;
  }
  #thenew_01 .new .product ul li a{
  width: 70vw;
  height: 80vw;
  }
  #thenew_01 .product span img.new{
  width: 15%;
  }
  #thenew_01 .new .product span img.img{
    width: 100%;
    height: 72%;
    margin: initial;
  }
  #thenew_01 .new .product ul li p{
  font-size: 11px;
  }
  #thenew_01 .new ul li h2{
  font-size: 18px;
  padding-top: 30px;
  }
  #thenew_01 .new ul li h3{
  font-size: 12px;
  padding: 10px 0 12px;
  }

  #thenew_01 .new > ul li p{
  font-size: 15px;
    padding-left: 62px;
  padding-top: initial;
  }
  #thenew_01 .new ul li p.bold{
  font-size: 15px;
  padding-left: 10px;
  }
  /* ----- thenew02 ---- */

  #thenew_02 .wrap{
  margin: 0 15px;
  }

  #thenew_02 .wrap ul li h3{
  font-size: 3.2vw;
  line-height: 1.1;
  font-weight: 500;
  border-bottom: 2px solid #000;
  }
  #thenew_02 .wrap ul li h3::before{
    width: 24vw;
    height: 12vw;
    border: 2px solid #000;
    transform: translateX(-50%) translateY(4%);
    border-bottom: 4px solid #f0f7e3;
  }
  #thenew_02 .wrap ul li h3 span{
  font-size: 4vw;
  font-weight: 500;
  }
  #thenew_02 .wrap ul li h2{
  font-size: 25px;
  padding: 60px 0 30px;
  margin: initial;
  }
  #thenew_02 .wrap ul li p{
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: initial;
  padding-bottom: 45px;
  margin: initial;
  }
  #thenew_02 .newin{
  gap: 15px;
  margin: 0px 5px;
  }

  #thenew_02 .new .product{
  width: 47vw;
  height: 70vw;
  }
  #thenew_02 .new .product:hover{
    border: initial;
  }

  #thenew_02 .new .product ul li a{
  width: 47vw;
  height: 70vw;
  align-items: center;
  display: flex;
  z-index: 1;
  position:  absolute;
  }
  
  #thenew_02 .new .product ul li > a:nth-child(1){
    display: none;
  }
  #thenew_02 .new .product ul li > a:nth-child(2){
    display: none;
  }
  
  #thenew_02 .new02 .product span img.new{
  width: 15%;
  }
  #thenew_02 .new .product span img.img{
    width: 100%;
    height: 72%;
    margin: initial;
  }

  #thenew_02 .new .product ul li p{
  font-size: 11px;
  width: 35%;
  height: 30%;
  z-index: 1;
  }

  #thenew_02 .new ul li h2{
  font-size: 18px;
  padding-top: 30px;
  }
  #thenew_02 .new ul li h3{
   font-size: 12px;
  padding: 10px 0 12px;
   width: 150px;
   padding-left: calc((218.283px - 150px) / 2);
  }

  #thenew_02 .new > ul li p{
   font-size: 15px;
   padding-left: 5vw;
  padding-top: initial;
  }
  #thenew_02 .new ul li p.bold{
   font-size: 15px;
  padding-left: 10px;
  }
  #thenew_02 .new02{
  margin-right: : 10px;
  }
  #thenew_02 .new02 .product{
  width: 47vw;
  height: 70vw;
  }
  #thenew_02 .new02 .product:hover{
  border: initial;
  }
  #thenew_02 .new02 .product ul{
     display: flex;
    justify-content: center;
    text-align: center;
  }

  #thenew_02 .new02 .product ul li a{
  width: 47vw !important;
  height: 70vw !important;
  align-items: center;
  display: flex;
  z-index: 1 !important;
  position: absolute !important;
  }

  #thenew_02 .new .product span img.new{
    width: 15%;
  }
  #thenew_02 .new02 .product span img.img{
   width: 100%;
    height: 72%;
    margin: initial;
  }

  #thenew_02 .new02 .product ul li p{
  font-size: 11px;
  width: 35%;
  height: 30%;
  z-index: 1;
  }
  #thenew_02 .new02 ul{
      display: flex;
    justify-content: center;
    text-align: center;
  }

  #thenew_02 .new02 ul li h2{
  font-size: 18px;
  padding-top: 30px;
  }
  #thenew_02 .new02 ul li h3{
  font-size: 12px;
  padding: 10px 0 12px;
  }
  #thenew_02 .new02 > ul li p{
  font-size: 15px;
   padding-left: 5vw;
  padding-top: initial;
  }
  #thenew_02 .new02 ul li p.bold{
  font-size: 15px;
  padding-left: 10px;
  }
  /* ----- thenew02 ---- */
  #thenew_03 .wrap{
  margin: 0 15px;
  }

  #thenew_03 .wrap ul li h3{
  font-size: 3.2vw;
  line-height: 1.1;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding-top: 250px;
  }
  #thenew_03 .wrap ul li h3::before{
    width: 24vw;
    height: 12vw;
    border: 2px solid #000;
    transform: translateX(-50%) translateY(4%);
    border-bottom: 4px solid #f0f7e3;
  }
  #thenew_03 .wrap ul li h3 span{
  font-size: 4vw;
  font-weight: 500;
  }
  #thenew_03 .wrap ul li h2{
  font-size: 25px;
  padding: 60px 0 30px;
  margin: initial;
  }
  #thenew_03 .wrap ul li p{
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: initial;
  padding-bottom: 45px;
  margin: initial;
  }
  #thenew_03 .new .product{
    width: 70vw;
  height: 80vw;
  }
  #thenew_03 .new .product ul li a{
  width: 70vw;
  height: 80vw;
  }
  #thenew_03 .product span img.new{
  width: 15%;
  }
  #thenew_03 .new .product span img.img{
    width: 100%;
    height: 72%;
    margin: initial;
  }
  #thenew_03 .new .product ul li p{
  font-size: 10px;
  }
  #thenew_03 .new ul li h2{
  font-size: 18px;
  padding-top: 30px;
  }
  #thenew_03 .new ul li h3{
  font-size: 12px;
  padding: 10px 0 12px;
  }
  #thenew_03 .new > ul li p{
  font-size: 15px;
  padding-top: initial;
  padding-left: 6%;
  }
  #thenew_03 .new ul li p.bold{
  font-size: 15px;
  padding-left: 10px;
  }
  /* ----- shop ----- */
  #shop{
  display: flex;
 justify-content: center;
  margin: 200px 0 100px;
  }
  #shop .shopNow{
  width: 23vw;
  height: 23vw;
  }
  #shop .shopNow span.circle{
  width: 22vw;
  height: 22vw;
  border: 2px solid;
  margin: initial;
  }
  #shop .shopNow h2{
  font-size: 3.6vw;
  text-align: center;
  top: 50%;
  display: block;
  left: 50%;
  transform: translate(-50%,-50%);
  }

  #shop .shopNow span img{
  width: 6vw;
  bottom: 17%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }

  /* ----- best product 2----- */
  #bestproduct2{
    min-height: 400px;
  }

  #bestproduct2 .wrap h2{
      font-size:30px;
      line-height:1.25;
      font-weight:600;
  }

  #bestproduct2 .wrap span img.dog{
    width:109px;
      height:183px;
  }
  #bestproduct2 .wrap span img.logo{
    height: 17px;
    width: 60px;
    padding-top: 50px;
  }
  /* -----reveiw----- */

  #review .wrap ul{
  gap: 3vw;
  }
  #review .wrap ul li{
    width: 40%;
    display: block;
    height: 100%;
    background-color: #c9d1bb;
    border-radius: 4px;
    padding: 10px;
  }
  #review .wrap ul li span{

  }
  #review .wrap ul li span img{
    width: 100%;
    height: 40vw;
    border-radius: 4px;
  }
  #review .wrap ul li span img:hover{
  border: initial;
  }

  #review .wrap ul li h3{
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  }
  #review .wrap ul li p a{
  font-size: 12px;
  color: #777;
  }
  /* ----- best product 2----- */
  #bestproduct3{
  min-height: 400px;
  }
  #bestproduct3 .wrap{
    margin-top: 60px;
  }
  #bestproduct3 .wrap h2{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 600;
  }

  #bestproduct3 .wrap span img.logo{
    height: 17px;
    width: 60px;
    padding-top: 50px;
  }

  #bestproduct3 .membership span img.membership{
  width: 100%;
  padding: 80px 20px 20px;
    box-sizing: border-box;
    margin: initial;
    margin-bottom: 80px;


  }
  /* ----- shop ----- */
  #banner02{
  height: 55vw;
  }
  #banner02 .join{
  width: 28vw;
  height: 28vw;
  }
  #banner02 .join:hover span img{
 animation: initial;
  }
  #banner02 .join span.circle{
  width: 22vw;
  height: 22vw;
  transform: translate(10%,10%);
  border: 2px solid #000;
  }
  #banner02 .join h2{
  font-size: 3.6vw;
  left: calc((28vw - 9.6vw) / 2);
  }
  #banner02 .join span img{
  width: 6vw;
  bottom: 25%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  }

  #banner02 .wrap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
  }
  #banner02 .wrap span img{
    margin-top: 50px;
  }
/*  --------footer--------  */
  footer{
  }
  footer .kakao{
  height: 130px;
  width: 100%;
  flex-direction: column;
  align-items: initial;
  padding: 25px 15px;
  box-sizing: border-box;
  }
  footer .kakao p.ka_txt{
  font-size: .7rem;
  width: fit-content;
  }
  footer .kakao p.ka_txt span{

  }
  footer .kakao p.ka_search{
  width: 40%;
  height: 23px;
  }
  footer .kakao p.ka_search a{
   width: 100%;
  height: 23px;
  }
  footer .kakao p.ka_search img{
  height: 10px;
  }
  footer .kakao p.ka_search span.ka_intxt{
  font-size: 12px;
  transform: translateX(-30px);
  }
  footer .wrap{
  padding: 30px 15px 50px ;
  box-sizing: border-box;
  }
  footer .wrap ul{

  }
  footer ul.inner{
  gap: 10px;
  font-size: 12px;
  }
  footer .wrap ul.inner li a{
  font-size: 12px;
  }
  footer .wrap .info{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  }
  footer .wrap .info h2{
    height: 25px;
  }
  footer .wrap .info ul.inner {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  }

  footer .wrap .info ul.inner li.address{
  margin: initial;
  font-size: 11.5px;
  line-height: initial;
  width: initial;
  position: relative;
  padding-left: 15px;
  }
  footer .wrap .info ul.inner li.address::before{
  height: 4px;
  top: -23px;
  width: 100%;
  }
  footer .wrap .info ul.inner li.address p{

  }
  footer .wrap .info ul.inner li.address p.bold{

  }
  footer .wrap .info ul.inner li.service{
  position: relative;
  }
  footer .wrap .info ul.inner li.service::before {
  height: 4px;
  width: 240px;
  top: 45px;
  }
  footer .wrap .info ul.inner li.service p.A{
  font-size: 13.5px;
  margin-top: 60px;
  padding-left: 15px;
  }
  footer .wrap .info ul.inner li.service p.B{
  font-size: 30.5px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  }
  footer .wrap .info ul.inner li.service p.C{
  font-size: 11.5px;
  padding-left: 15px;
  font-weight: initial;
  }
  footer .wrap .info ul.inner li.service p.D{
  font-size: 11.5px;
  padding-left: 15px;
  }

  /* ----- best product 애니메이션 ----- */
  .dog{
  animation: subjectUp 0.4s linear 0s infinite alternate; 
  }
  @keyframes subjectUp{
    0%{
      transform: translateY(30px);
    }
    100%{
      transform: translateY(50px);
    }
  }
  .dog03{
    width: 167px;
    height: 187px;
    z-index: -1;
    position: relative;
  }
  @keyframes subjectUp{
    0%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(10px);
    }
  }
  /* ----- best new01 cloud 애니메이션 ----- */
  .cloud{
    background: url(../img/cloud.png)  0 center / 100% repeat-x ;
    position: absolute;
    width: 768px;
    display: none;
    background-size: 100%;
    z-index: -1;


   transition:all 0.3s;
   animation-name:cloud_flow;
   animation-timing-function:linear;
   animation-iteration-count:infinite;
   animation-duration:25s;
  }

  @-webkit-keyframes cloud_flow {
   0% {
    background-position:0 center;
   }
   100% {
    background-position:-1210px center;
   }
  /* ----- best thenew dc 애니메이션 ----- */
  }
  @-webkit-keyframes dc_icon {
   0% {
    transform: rotate( -18deg);
   }
   100% {
    transform: rotate( -23deg);
   }
  }
  .bubble{
    background-image: url(../img/cloud2.png);
    background-repeat: no-repeat;
    transform: translateX(-260px) translateY(20px);;
    background-size: 85%;
    transition: all 0.3s;
  }
  .bubble02{
    background-image: url(../img/cloud2.png);
    background-repeat: no-repeat;
    transform: translateX(-185px) translateY(20px);;
    background-size: 85%;
    transition: all 0.3s;
  }
  .bubbles{
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
  }
  .color_bubble{
   position:absolute;
   bottom:-100px;
   width:40px;
   height:40px;
   background:#c2e9fa;
   border-radius:50%;
   opacity:0.5;
   animation: rise 10s infinite ease-in;
  }
  .color_bubble:nth-child(1) {
   width:20px;
   height:20px;
   left:10%;
   animation-duration:8s;
  }
  .color_bubble:nth-child(2) {
   width:10px;
   height:10px;
   left:20%;
   animation-duration:5s;
   animation-delay:1s;
  }
  .color_bubble:nth-child(3) {
   width:25px;
   height:25px;
   left:35%;
   animation-duration:7s;
   animation-delay:2s;
   background:#FEC8C6;
  }
  .color_bubble:nth-child(4) {
   width:40px;
   height:40px;
   left:50%;
   animation-duration:11s;
   animation-delay:0s;
  }
  .color_bubble:nth-child(5) {
   width:17px;
   height:17px;
   left:55%;
   animation-duration:6s;
   animation-delay:1s;
   background:#FEC8C6;
  }
  .color_bubble:nth-child(6) {
   width:23px;
   height:23px;
   left:65%;
   animation-duration:8s;
   animation-delay:3s;
  }
  .color_bubble:nth-child(7) {
   width:45px;
   height:45px;
   left:70%;
   animation-duration:12s;
   animation-delay:2s;
  }
  .color_bubble:nth-child(8) {
   width:17px;
   height:17px;
   left:80%;
   animation-duration:6s;
   animation-delay:2s;
  }
  .color_bubble:nth-child(9) {
   width:7px;
   height:7px;
   left:70%;
   animation-duration:5s;
   animation-delay:1s;
  }
  .color_bubble:nth-child(10) {
   width:45px;
   height:45px;
   left:25%;
   animation-duration:10s;
   animation-delay:4s;
   background:#FEC8C6;
  }
  .color_bubble:nth-child(11) {
   width:20px;
   height:20px;
   left:10%;
   animation-duration:5s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(12) {
   width:10px;
   height:10px;
   left:20%;
   animation-duration:9s;
   animation-delay:0s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(13) {
   width:25px;
   height:25px;
   left:35%;
   animation-duration:10s;
   animation-delay:2s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(14) {
   width:40px;
   height:40px;
   left:50%;
   animation-duration:5s;
   animation-delay:0.7s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(15) {
   width:17px;
   height:17px;
   left:55%;
   animation-duration:9s;
   animation-delay:3s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(16) {
   width:23px;
   height:23px;
   left:65%;
   animation-duration:6s;
   animation-delay:2s;
  }
  .color_bubble:nth-child(17) {
   width:45px;
   height:45px;
   left:70%;
   animation-duration:4s;
   animation-delay:1.5s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(18) {
   width:17px;
   height:17px;
   left:80%;
   animation-duration:3.5s;
   animation-delay:2s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(19) {
   width:7px;
   height:7px;
   left:70%;
   animation-duration:3s;
   animation-delay:0.8s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(20) {
   width:45px;
   height:45px;
   left:25%;
   animation-duration:8s;
   animation-delay:1s;
   background:#ffeeb3;
  }
  .color_bubble:nth-child(21){
    display: none;
  }
   .color_bubble:nth-child(22){
    display: none;
  }
   .color_bubble:nth-child(23){
    display: none;
  }
   .color_bubble:nth-child(24){
    display: none;
  }
   .color_bubble:nth-child(25){
    display: none;
  }
   .color_bubble:nth-child(26){
    display: none;
  }
   .color_bubble:nth-child(27){
    display: none;
  }
   .color_bubble:nth-child(28){
    display: none;
  }
   .color_bubble:nth-child(29){
    display: none;
  }
   .color_bubble:nth-child(30){
    display: none;
  }
  
  @keyframes rise {
   0% {
    bottom:-100px;
    transform:translateX(0);
   }
   50% {
    transform:translate(100px);
   }
   100% {
    bottom:530px;
    transform:translateX(-50px);
   }
  }
}




